@use '../../../../../styles.scss'as *;

.body-reg {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary;

  .content-reg {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
    text-align: left;
    color: $color-text;
    h1 {
      font-family: $font-title;
      letter-spacing: 1px;
      font-size: 20px;
    }

    h3 {
      font-family: $font-text;
    }

    .example-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;

      .form {
        width: 100%;
      }

      .flex-input{
        display: grid;
        grid-template-columns: 38% 58%;
        column-gap: 15px;
      }
    }
  }
}

button {
  background-color: $button-text;
  font-family: $font-text;
  font-weight: 600;
  font-size: 20px;
  width: 50%;
  height: 47px;
}

