<app-nav-bar></app-nav-bar>
<section class="body-reg">
  <div class="content-reg">
    <h1>Hola Paulo,</h1>
    <h3>Ingresa tus documentos para utilizar Dakar.</h3>
    <form action="form" class="example-form">
      <mat-form-field class="form" appearance="fill">
        <mat-label>Tarjeta de Propiedad</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field class="form" appearance="fill">
        <mat-label>SOAT</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field class="form" appearance="fill">
        <mat-label>Licencia de conducir del chofer</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field class="form" appearance="fill">
        <mat-label>Nombre del chofer</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <div class="flex-input form">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select>
            <mat-option>DNI</mat-option>
            <mat-option>C.E.</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Documento de Identidad</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <button mat-button [routerLink]="['/confirtruck']">Confirmar</button>
    </form>
  </div>    
</section>



