<app-nav-bar>
<section class="body-reg">
  <div class="content-reg">
    <h1>Hola Paulo,</h1>
    <h3>Ingresa tus documentos para utilizar Dakar.</h3>
    <form [formGroup]="requirementFormTruck" class="example-form">

     <mat-form-field appearance="fill" class="form">
        <mat-label>Tarjeta de Propiedad</mat-label>
        <div class="prueba">
        <input matInput  value="" name="fichero_tp" style="color: #161616;" />
          <input type="file" name="file-6" onchange="fichero_tp.value=this.value" [formControl]="tarjetaPropiedad" id="file-6" class="inputfile inputfile-6" data-multiple-caption="{count} archivos seleccionados" multiple />
          <label for="file-6">
          <img src="../../../../../assets/img/upload.png" alt="">
          </label>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>Soat</mat-label>
        <div class="prueba">
        <input matInput value="" name="fichero_soat" style="color: #161616;" />
          <input type="file" name="file-7" onchange="fichero_soat.value=this.value" [formControl]="soat" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} archivos seleccionados" multiple />
          <label for="file-7">
          <img src="../../../../../assets/img/upload.png" alt="">
          </label>
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form">
        <mat-label>Licencia de conducir del chofer</mat-label>
        <div class="prueba">
        <input matInput value="" name="fichero_ldc" style="color: #161616;" />
          <input type="file" name="file-8" onchange="fichero_ldc.value=this.value" [formControl]="licenciaConducir" id="file-8" class="inputfile inputfile-6" data-multiple-caption="{count} archivos seleccionados" multiple />
          <label for="file-8">
          <img src="../../../../../assets/img/upload.png" alt="">
          </label>
        </div>
      </mat-form-field>

      <mat-form-field class="form" appearance="fill">
        <mat-label>Nombre del chofer</mat-label>
        <input matInput autocomplete="off" [formControl]="nameDriver" style="color: #161616;"/>
      </mat-form-field>

      <div class="flex-input form">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select >
            <mat-option>None</mat-option>
            <mat-option *ngFor="let tipo of tipo" [value]="tipo">{{tipo}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Documento de Identidad</mat-label>
          <input matInput  autocomplete="off" [formControl]="docIdent" style="color: #161616;"/>
        </mat-form-field>
      </div>
      <div class="flex-input form">

      <mat-form-field appearance="fill">
        <mat-label>Tolva</mat-label>
        <mat-select [formControl]="tolvaForm">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let tolva of tolva" [value]="tolva">{{tolva}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Capacidad de Carga</mat-label>
        <input matInput autocomplete="off" [formControl]="capCarga"style="color: #161616;"/>
      </mat-form-field>
      
    </div>
      <button (click)="sendTruck(requirementFormTruck.value)" [disabled]="requirementFormTruck.invalid" [routerLink]="['/confirtruck']">Confirmar</button>
    </form>
  </div>    
</section>
</app-nav-bar>


