<app-nav-bar>
<section class="container-message">
    <div class="row-message">
        <div class="sms-head">
            <img src="../../../../../assets/img/bodyDriver.png" alt="">
            <h4>Transportista</h4>
            <span>{{driver[0].driver}}</span>
        </div>
        <div class="map">
            <div class="origin">
                <p>Origen</p>
                <p style="font-weight: bold;" class="address">{{driver[0].dataRecojo.name}}</p>
            </div>
            <div class="origin">
                <p>Destino</p>
                <p style="font-weight: bold;" class="address">{{driver[0].direccion}}</p>
            </div>
            <img class="puntero" src="../../../../../assets/img/puntero.png" alt="">
        </div>
        <div class="footer-msg">
            <button [routerLink]="['/newreq']" class="new-rq">Nuevo requerimiento</button>
            <a href="/client">Ir a menú</a>
        </div>
    </div>
</section>
</app-nav-bar>
