    <section class="body">
    <div>
        <h2>Elige una unidad para despacho<hr></h2>
    </div>
    <br>
    <div class="radios-content">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" value="none" class="prueba">
            <div class="div-imput">
                <mat-radio-button class="example-radio-button" class="content">
                    <h3>Camión Placa AKU-089</h3>
                    <h4>Capacidad: 8tn</h4>
                    <h4>Último despacho: 24/09/2020</h4>
                </mat-radio-button>
            </div>
            <div class="div-imput">
                <mat-radio-button class="example-radio-button" class="content">
                    <h3>Camión Placa AKU-089</h3>
                    <h4>Capacidad: 8tn</h4>
                    <h4>Último despacho: 24/09/2020</h4>
                </mat-radio-button>
            </div>
            <div class="div-imput">
                <mat-radio-button class="example-radio-button" class="content">
                    <h3>Camión Placa AKU-089</h3>
                    <h4>Capacidad: 8tn</h4>
                    <h4>Último despacho: 24/09/2020</h4>
                </mat-radio-button>
            </div>
            <div class="div-imput">
                <mat-radio-button class="example-radio-button" class="content">
                    <h3>Camión Placa AKU-089</h3>
                    <h4>Capacidad: 8tn</h4>
                    <h4>Último despacho: 24/09/2020</h4>
                </mat-radio-button>
            </div>            
            <button mat-button (click)="goConfirMess()">Confirmar</button>
        </mat-radio-group>
        <br>
        <div class="flex-b">
    </div>
    </div> 
</section>

