<div class="header">
    <span>Hola {{'Paulo'}},</span> <p>¿Qué quieres hacer hoy?</p>
</div>
<div class="body">
    <button class="card-buscar" [routerLink]="['/driver/shipment']">
        <img src="./../../../assets/img/search.png" alt="Buscar">
        <p>Buscar nuevas cargas</p>
    </button>
<button class="card-unidades">
    <img src="./../../../assets/img/unidades.png" [routerLink]="['/newtruck']" alt="Unidades">
    <p>Mis unidades</p>
</button>
<button class="card-cargas">
    <img src="./../../../assets/img/cargas.png" alt="Cargas">
    <p>Mis Cargas</p>
</button>
</div>
