<div class="header">
    <img src="../../../../../assets/img/boxLogo.png" alt="">
    <div class="txt-header">
        <h2>Nuevas cargas</h2>
        <p>¿Qué quieres transportar hoy?</p>
    </div>
</div>
<div class="body">
  <div class="body-head">
    <label for="">Filtrar por:</label>
      <mat-form-field class="selectCity" appearance="fill">
      <mat-label>Selecciona ciudad...</mat-label>
      <mat-select [formControl]='city'>
        <mat-option *ngFor="let ciudad of ciudad" [value]='ciudad'>{{ciudad}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="orders">
    <div class="block-order" *ngFor="let item of shipments; index as i">
      <div class="description">
        <h5>{{item.data.dataDestino}}</h5>
        <span>{{item.data.weightTotal}} kg</span>
      </div>
      <p class="price-order">S/. {{item.data.montoTotal}}</p>
      <button (click)="more(item.id)">
        <i class="fa fas fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="back">
  <img (click)="goBack()" src="./../../../../../assets/img/back.png" alt="Back">
</div>