<div class="header">
    <img src="../../../../../assets/img/boxLogo.png" alt="">
    <div class="txt-header">
        <h2>Nuevas cargas</h2>
        <p>Encuentra aquí todos tus pedidos activos</p>
    </div>
</div>
<div class="body">
  <div class="body-head">
    <label for="">Filtrar por:</label>
      <mat-form-field class="selectCity" appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option>Todas las ciudades</mat-option>
        <mat-option>Piura</mat-option>
        <mat-option>Trujillo</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="orders">
    <div class="block-order">
      <div class="description">
        <h5>Cemento y rapimix</h5>
        <span>8.5 tn.</span>
      </div>
      <p class="price-order">S/. {{'250.00'}}</p>
      <button (click)="goBack()">
        <i class="fa fas fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
    <div class="block-order">
      <div class="description">
        <h5>Cemento y rapimix</h5>
        <span>8.5 tn.</span>
      </div>
      <p class="price-order">S/. {{'250.00'}}</p>
      <button (click)="goBack()">
        <i class="fa fas fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="back">
  <img src="./../../../../../assets/img/back.png" alt="Back">
</div>