@use '../../../../../styles.scss'as *;

.body-sucess {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
  
    .content-exit {
      width: 100%;
      max-width: 375px;
      padding: 15px;
      margin: auto;
      text-align: center;
      color: $color-text;
  
      h1 {
        font-family: $font-title;
        letter-spacing: 1px;
        font-size: 20px;
      }
  
      h3 {
        font-family: $font-text;
      }
      .content-flex{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          row-gap: 15px;
      }
    }
  }
  
button {
  background-color: $button-text;
  font-family: $font-text;
  font-weight: 600;
  font-size: 20px;
  width: 70%;
  height: 47px;
}