<app-nav-bar>
<section class="container-driver">
    <div class="row-driver">
        <div class="header">
            <h2>Hola, {{name.name}}</h2> <p>¿Qué quieres hacer hoy?</p>
        </div>
        <div class="body">
            <button class="card-unidades" (click)="goToNotfound()">
               <img src="./../../../assets/img/unidades.png" alt="Unidades">
                <p>Estado de requerimientos</p>
            </button>
            <button (click)="goToCreatRequirement()" class="card-cargas">
                <img src="./../../../assets/img/cargas.png" alt="Cargas">
                <p>Publicar requerimiento</p>
            </button>
        </div>
    </div>
</section>
</app-nav-bar>