
<app-nav-bar>
    <section *ngIf="(orders$ | async) as products" class="body">
        <div>
            <h2>Detalle de la carga<hr></h2>
        </div>
        <br>
        <section *ngFor="let product of products, let index as i" class="resumen-peso-monto">
            <div class="resumen-peso">
                <label>Peso total: {{product.weightTotal}} TN</label>
            </div>
            <div class="resumen-monto">
                <label>Monto a pagar: S/. {{product.montoTotal}}</label>
            </div>
        </section>
        <br>
        <section *ngFor="let product of products, let index as i" class="origin-destiny">
            <div class="origin">
                <label>Origen</label>
                <label>{{product.dataRecojo.name}}</label>
            </div>
            <div class="destiny">
                <label>Destino</label>
                <label>{{product.dataDestino}}</label>
            </div>
        </section>
        <section class="detalle-carga">
            <h3>Detalle de carga</h3>
            <div *ngFor="let item of  itemList[0].producto" id="producto1">
                <label id="nombre-producto">{{item.name}}</label>
                <label id="cantidad">{{item.qty}}</label>
            </div>
        </section>
        <button>Aceptar pedido</button>
        <br>
        <img src="../assets/back-arrow.png" (click)="goBack()">
    </section>
</app-nav-bar>
