

    <section class="body" >
        <div>
            <h2>Detalle de la carga<hr></h2>
        </div>
        <br>
        <section class="resumen-peso-monto">
            <div class="resumen-peso">
                <label>Peso total:  tn</label>
            </div>
            <div class="resumen-monto">
                <label>Monto: {{requirementD.data.montoTotal}}</label>
            </div>
        </section>
        <br>
        <section class="origin-destiny">
            <div class="origin">
                <label>Origen</label>
                <label>{{requirementD.data.dataRecojo.name}}</label>
            </div>
            <div class="destiny">
                <label>Destino</label>
                <label>{{requirementD.data.dataDestino}}</label>
            </div>
        </section>
        <section class="detalle-carga" >
            <h3>Detalle de carga</h3>
            <div id="producto1" *ngFor="let producto of requirementD.data.producto">
                <label id="nombre-producto">{{producto.name}}</label>
                <label id="cantidad">{{producto.qty}}</label>
            </div>
    
        </section>
        <button (click)="goToSelect()">Aceptar pedido</button>
        <br>
        <img (click)="goBack()" src="../assets/back-arrow.png" >
    </section>

