@use '../../../../../styles.scss'as *;
@use '../../../../../assets/scss/mixin-back' as *;


    h2{
        font-family: $font-title;
        font-weight: bold;
        font-size: 16px;
        color: $color-text;
        letter-spacing: 0.06em;
    }
    hr{
        width: 320px;
        left: 342px;
        border: 0.5px solid #BB7D08;
        transform: rotate(180deg);
    }
    .resumen-peso-monto{
        display: flex;
        flex-direction: column;
        width: 100%;

        .resumen-peso, .resumen-monto{
            background-color: #FFF5E1;
            border: 1.8px solid #BB7D08;
            padding:10px;
            margin-bottom: 4px;
            font-family: $font-text;
            color: #3D4550;
            font-size: 18px;
            text-align: center;
        }
    }

    .origin-destiny{
        display: flex;
        flex-direction: column;
        position: relative;

        .origin, .destiny{
            background-color: #fff;
            padding: 20px 20px 20px 40px;;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            font-family: $font-text;
            font-size: 14px;
        }
        
        .puntero{
            top: 15%;
            left: 4px;
            position: absolute;
        }
    }
    

    .detalle-carga{
        display: flex;
        flex-direction: column;

        h3{
            color: #fff;
            font-family: $font-text;
            font-size: 15px;
        }

        #producto1, #producto2{
            background-color: #fff;
            font-family: $font-text;
            font-size: 14px;
            padding: 15px;
            border-radius: 6px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            border: 1.8px solid #BB7D08;
        }

        #cantidad{
            width: 100%;
            text-align: right;
        }
    }

    button {
        width: 100%;
        background-color: $button-text;
        font-family: $font-text;
        font-weight: 600;
        border-radius: 5px;
        font-size: 20px;
        color: #fff;
        border: none;
        margin: 20px 0px;
        padding: 10px;

      }
      
    img{
        width: 35px;
        /* height: 30px; */
    }
#aceptar{
    margin-bottom: 80px;
}
.back{
    @include back;
}
@media screen and (min-width: 1500px){
    .back{
        @include query;
    }
}