       <div>
            <h2>Detalle de la carga<hr></h2>
        </div>
        <br>
        <section class="resumen-peso-monto">
            <div class="resumen-peso">

                <label>Peso total: <b>{{requirementD.data.weightTotal}}tn</b></label>

            </div>
            <div class="resumen-monto">
                <label>Monto: <b>S/ {{requirementD.data.montoTotal}}</b></label>
            </div>

            <div class="resumen-monto">
                <label>Hora de despacho: <b>{{requirementD.data.horaDespacho}}</b></label>
            </div>
        </section>
        <br>
        <section class="origin-destiny">
            <div class="origin">
                <label>Origen</label>
                <label>{{requirementD.data.direccionOrigen}}</label>
            </div>
            <div class="destiny">
                <label>Destino</label>
                <label>{{requirementD.data.direccionDestino}}</label>
            </div>
            <img class="puntero" src="../../../../../assets/img/puntero.png" alt="">
        </section>
        <section class="detalle-carga" >
            <h3>Detalle de carga</h3>
            <div id="producto1" *ngFor="let producto of requirementD.data.producto">
                <label id="nombre-producto">{{producto.data.name}}</label>
                <label id="cantidad">{{producto.qty}}</label>
            </div>
        </section>

        <button (click)="goBack()" >Aceptar pedido
        <div class="back"><img src="../assets/back-arrow.png" ></div>
        </button>