<section class="body-sucess">
    <div class="content-exit">
        <img src="../../../../../assets/img/truckconfirmation.png" width="100%">
        <h1>¡Carga aceptada!</h1>
        <h3>Puedes revisar el detalle del pedido en la sección “Mis cargas”.</h3>
        <br>
        <div class="content-flex">
        <button mat-button  [routerLink]="['/driver/shipment']">Ver mas cargas</button>
        <h3><span [routerLink]="['/driver']">Ir a Inicio</span></h3>
        </div>
    </div> 
</section> 