<app-nav-bar>
  <section class="content-req"> 

    <div class="div-req">
      <form [formGroup]="requirementForm">

            <!-- Lista de tipo de carga -->

            <mat-form-field appearance="fill">
              <mat-label>Tipo de carga*</mat-label>
              <mat-select [formControl]="tipoCargaControl" >
                <mat-option *ngFor="let bulk of tiposCarga" [value]="bulk">{{bulk.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Lista de productos de carga -->

            <mat-form-field appearance="fill">
              <mat-label>Productos de carga*</mat-label>
              <mat-select [formControl]="productoControl" multiple>
                <mat-option *ngFor="let product of productos" [value]="product">{{product.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <!-- Tabla con los productos de carga que se selecciona  -->

            <section class="table-product" *ngIf="productoControl.value">
              <h3 >Lista de productos:</h3>
              <table  class="default">
                <thead>
                  <tr class="table-header">
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Peso Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container formArrayName="cantidadesControl">
                    <tr *ngFor="let control of itemsSeleccionados; index as i" style="color:black">
                      
                        <td >{{itemsSeleccionados[i].name}}</td>
                        <td width="10px" ><input [formControlName]="i"  name="item" ></td> 
                        <td >{{itemsSeleccionados[i].weightTotal}} KG</td> 
                    </tr>
                  </ng-container>
                </tbody>
              </table>

              <h3 class="text-weight">Peso total del pedido:</h3>
              <h3 style="font-weight: bolder;">{{pesoTn}} TN</h3>
            </section>
            
            <!-- Datos de recojo -->

            <mat-form-field appearance="fill">
              <mat-label>Datos de recojo*</mat-label>
              <mat-select [formControl]="dataRecojoControl" name="origin" >
                <mat-option *ngFor="let origin of recojos" [value]="origin">
                  {{origin.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
              <mat-label>Dirección de recojo*</mat-label>
              <input style="text-transform:uppercase" [formControl]="direccionRecojoControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field>
            

            <!-- Datos de destino -->
        <section class="container-hidden" *ngIf="direccionRecojoControl.value">
            <mat-form-field appearance="fill">
              <mat-label>Datos de destino*</mat-label>
              <mat-select [formControl]="dataDestinoControl" name="destination">
                <mat-option *ngFor="let destination of destinos" [value]="destination.name">
                  {{destination.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Datos del contacto -->

            <mat-form-field appearance="fill">
              <mat-label>Dirección destino*</mat-label>
              <input style="text-transform:uppercase" [formControl]="direccionControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre completo (¿Quién recibe?)*</mat-label>
                <input style="text-transform:capitalize" [formControl]="nombreControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Celular*</mat-label>
              <input [formControl]="celularControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field> 

            <mat-form-field appearance="fill">
              <mat-label>Horario de recojo*</mat-label>
              <input [formControl]="horaDespachoControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field> 

            <mat-form-field appearance="fill">
              <mat-label>Monto total (S/.)*</mat-label>
              <input type="number" [formControl]="montoTotalControl" class="input-color-text" autocomplete="off" matInput>
            </mat-form-field> 
        </section>
      </form>

      <button mat-button [disabled]="requirementForm.invalid" (click)="publishOrder()" >Publicar</button>
    </div>
  </section>
</app-nav-bar>