@use '../../../../../styles.scss'as *;

.content-req{
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary;    
    .div-req{
        width: 100%;
        max-width: 375px;
        padding: 15px;
        margin: auto;
        text-align: left;
        color: $color-text;
        display: flex;
        flex-direction: column;
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .input{
            font-family: $font-text;
            font-weight: 600;
             font-size: 14px;
            color:$color-text;
        }
        
       
    }
}

button{
    background-color: #FC505C;
    color: $color-text;
}

.input-color-text{
    color: black;
}
.table-header {
    background-color: #FC505C;
    color: white;
}
table{
    border: 1px solid white;
    border-radius: 8px;
    margin: 0 0.8rem 1rem 0.8rem;
}
