<app-nav-bar>
  <section class="content-req"> 

    <div class="div-req">
<form [formGroup]="requirementForm">

  <mat-form-field appearance="fill">
    <mat-label>Tipo de carga</mat-label>
    <mat-select [formControl]="tipoCargaControl" >
      <mat-option *ngFor="let bulk of tiposCarga" [value]="bulk">{{bulk.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Detalle de carga</mat-label>
    <mat-select [formControl]="productoControl" multiple>
      <mat-option *ngFor="let product of productos" [value]="product">{{product.name}}</mat-option>
      
      <mat-form-field appearance="fill">
        <mat-label>Otro:</mat-label>
        <input [formControl]="dataOtroControl" matInput>
      </mat-form-field>

    </mat-select>
  </mat-form-field>
  
  <!-- en vez de mat select  -->

    <table class="default">
      <tr *ngFor="let quantity of itemsSeleccionados">
        <th  >{{quantity.name}}</th>
        <td ><input [formControl]="qtySelecControl" name="quantity" /></td>
      </tr>
      <tr *ngIf="dataOtroControl.value">
        <th  >{{dataOtroControl.value}}</th>
        <td ><input [formControl]="qtyInputControl" name="quantity" /></td>
      </tr>
    </table>

  <mat-form-field appearance="fill">
    <mat-label>Datos de recojo</mat-label>
    <mat-select [formControl]="dataRecojoControl" name="origin" >
      <mat-option>None</mat-option>
      <mat-option *ngFor="let origin of recojos" [value]="origin.id">
        {{origin.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Datos de destino</mat-label>
    <mat-select [formControl]="dataDestinoControl" name="destination">
      <mat-option *ngFor="let destination of destinos" [value]="destination.id">
        {{destination.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<button (click)="publish()" [disabled]="requirementForm.invalid">Publicar</button>
</div>
</section>
</app-nav-bar>