@use '../../../../../styles.scss'as *;

.body-reg{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: $primary;
    .content-reg{
         width: 100%;
         max-width: 375px;
         padding: 15px;
         margin: auto;
         text-align: center;
         

    h2{
        font-family: $font-title;
        color: #ffff;
        text-align: center;
        font-size: 24px;
        line-height: 2em;
        
    }

    .stepper{
        background-color: $primary;
        justify-content: center;
        background-color: $primary;
        width: 100%;
    }

    h3{
        font-family: $font-text;
        color: #ffff;
        font-size: 16px;
    }

    button{
        background-color: $button-text;
        font-family: $font-text;
        font-weight: 600;
        font-size: 20px;
        width: 70%;
        height: 47px;
        color: #ffff;
        border: none;
        border-radius: 8px;
    }

    .firstForm{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        background-color: $primary;
       
        div{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            align-items: center;
            // justify-content: center;

            .back{
                background-color: #ffff;
                width: 18px;
                background-color: $primary;
                
            }
        }

       
    }

    .secondForm{
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $primary;
        
        
        div{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            align-items: center;
            // justify-content: center;

            .back{
                background-color: #ffff;
                width: 18px;
                background-color: $primary;
                
            }
        }

       
    }

    .thirdForm{
        height: 100vh;
        display: flex;
        flex-direction: column;
        
        
        div{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            align-items: center;
            // justify-content: center;

            .back{
                background-color: #ffff;
                width: 18px;
                background-color: $primary;
            }
            
            button{
                background-color: $button-text;
                font-family: $font-text;
                font-weight: 600;
                font-size: 20px;
                width: 50%;
                height: 47px;
                color: #ffff;
                border: none;
                border: 8px;
            }
        }

       
    }

}
}